@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
  background-image: url('../assets/image/HeroImg.jpg');
  object-fit: cover;
}

.promo-1{
  background-image: url('../assets/image/promoImg.jpg');
}

.promo-2{
  background-image: url('../assets/image/promoImg2.jpg');
}

.myDiscount{
  transform: rotate(-90deg) translate(0, -69px);
  transform-origin: 100% 0;
}